%h1 Send inn en klage

= form_for @complaint do |f|
  %p.ingress
    Lorem ipsum

  .gray
    = form_text_field f, :first_name, label: 'Fornavn'
    = form_text_field f, :last_name,  label: 'Etternavn'
    = form_text_field f, :phone,      label: 'Telefon'
    = form_text_area  f, :comment,    label: 'Kommentar'

    = f.submit 'Send inn!', class: "enhanced btn"